@model ProAcc.BL.Model.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

Customer:   @Html.RadioButton("UserType", "Customer")
Consultant: @Html.RadioButton("UserType", "Consultant")
<div id="customer">
    @if (Model.customer != null)
    {
        @Html.Partial("_Customercreate", Model.customer)
    }
    else
    {
        <script type="text/javascript">

            alert("Please Enter the Details");
           
        </script>
    }
</div>
<div id="consultant">
    @Html.Partial("_Consultantcreate", Model.consultant)
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#customer").hide();
        $("#consultant").hide();
    });
    $('[name="UserType"]').on('change', function () {
        var val = $('[name="UserType"]:checked').val()
        if (val == "Customer") {
            $("#customer").show();
            $("#consultant").hide();
        }
        else {
            $("#customer").hide();
            $("#consultant").show();
        }

    });

        </script>




